.board {
  min-width: 300px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.board-top {
  display: flex;
}
.board-top-title {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.board-top-title span {
  color: #3a3939;
}
.board-cards {
  background-color: rgb(194, 195, 197);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}
